button{
    background-color: rgb(92, 90, 90);
    color: #fff;
    padding: 5px;
    display: inline-block;
    width: 100px;
    border-radius: 3%;
  
}
.fa-refresh{
    background-color:  rgb(92, 90, 90);
    color: #fff;
    
    margin-left: 90px;
   
  
}